<!DOCTYPE html>
<html>

<head>
  <title>Final Vote : Debating Circle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://kit.fontawesome.com/95d795fabf.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>

  <script type="text/javascript" src="./js/app.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">

</head>

<body>
  <div ng-app="app" ng-controller="FinalController">
    <div class="row col-sm-12 homecontainer">

      <div class="row">
        <div class="home-text col-sm-10"> Vote </div>
        <div class="profile col-sm-2">
          <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
          <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{user.profilePicture}}" class="profileImage" /><br />
          <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{user.name}}</div>
          <a href="" class="header-name col-sm-12" ng-click="logout()">Logout</a>
        </div>
      </div>

      <div class="intro-smaller-heading"> Instructions:</div>
      <div class="home-instructions">
        <ol>
          <li>Thank you for the time spent expressing your opinions on the topics provided. Now, it is time to provide your final vote on the debated topics.</li>
          <li>You may either agree or disagree with each statement. Click on each topic to provide your <b>final vote</b> for each statement.</li>
          <li ng-show="user.socialPresence == true">Final votes of the group are <b>VISIBLE</b> to other group members. Upon submitting your vote, you may see how others voted for the same question.</li>
          <li ng-show="user.socialPresence == false">Your final votes are <b>NOT VISIBLE</b> to other group members.</li>
          <li>You may vote in in <b>ANY order you prefer. Once submitted, your vote can't be changed.</b></li>
          <li>You have <b>48 hours</b> to complete voting on all topics, before you move to the next step of the experiment. The <b>time left for you to complete voting</b> is displayed at the <b>bottom</b> of this page.</li>
        </ol>
      </div>

      <div class="row col-sm-12 question-area">
        <div class="intro-smaller-heading">Topics to vote:</div>
        <div ng-repeat="q in questions" class="qcontainer col-sm-4">
          <a href="" class="col-sm-12 qBox" ng-click="(q.voted == false) ? showCommentsDisabled(q) : (user.socialPresence == true ? showVotesAtHome(q) : showCommentsDisabled(q)) ">
            <div class="qText">{{q.text}}</div>
            <div class="row">
              <span ng-if="q.voted" class="attempted-class"><i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp; Voted</span>
              <span class="commCount-class"><i class="fas fa-poll fa-lg" aria-hidden="true"></i>&nbsp;{{q.voteCount}}</span>
            </div>
          </a>
        </div>
      </div>

      <!-- Modal to display votes in home-->
      <div id="modal" class="modal" style="text-align:center;">
        <div class="modal-content-home">
          <span class="close">&times;</span>
          <div class="modal-votes row">
            <div class="col-sm-12 modal-question">
              Final votes from your group members on: {{focusedVotes.questionText}}
            </div>
            <br />
            <!-- Structure true -->
            <div class="vote-area col-sm-12" ng-show="user.structure == true">
              <div class="progress adjust-progress">
                <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{focusedVotes.progressY}}%">
                </div>
              </div>
              <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
                <!-- YesVotes -->
                <div class="col-sm-6" style="padding-left:0px;" ng-class="{'border-right': focusedVotes.noVotes.length <= focusedVotes.yesVotes.length}">
                  <div class="yes-span row">{{focusedVotes.progressY}}% say <i class="fa fa-thumbs-up" aria-hidden="true"></i> </div>
                  <div class="col-sm-12" style="padding:0px;">
                    <div class="col-sm-4 vote-box" ng-repeat="v in focusedVotes.yesVotes" ng-show="focusedVotes.yesVotes.length > 0">
                      <div class="profile-vote col-sm-12">
                        <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage-vote" />
                        <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{v.userPicture}}" class="profileImage-vote" /><br />
                        <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;padding-left: 0px;padding-right: 0px;">{{v.userName}}</div>
                      </div>
                    </div>
                    <div class="col-sm-12 await-votes" ng-show="focusedVotes.yesVotes.length == 0">
                      No Votes
                    </div>
                  </div>
                </div>
                <!-- NoVotes -->
                <div class="col-sm-6" style="padding-right:0px;" ng-class="{'border-left': focusedVotes.noVotes.length > focusedVotes.yesVotes.length}">
                  <div class="no-span row">{{focusedVotes.progressN}}% say <i class="fa fa-thumbs-down" aria-hidden="true"></i> </div>
                  <div class="col-sm-12" style="padding:0px;">
                    <div class="col-sm-4 vote-box" ng-repeat="v in focusedVotes.noVotes" ng-show="focusedVotes.noVotes.length > 0">
                      <div class="profile-vote col-sm-12">
                        <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage-vote" />
                        <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{v.userPicture}}" class="profileImage-vote" /><br />
                        <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;padding-left: 0px;padding-right: 0px;">{{v.userName}}</div>
                      </div>
                    </div>
                    <div class="col-sm-12 await-votes" ng-show="focusedVotes.noVotes.length == 0">
                      No Votes
                    </div>
                  </div>
                </div>
                <!-- Not Attempted -->
                <!-- <div class="col-sm-12" ng-show="focusedVotes.notAttempted.length > 0" style="padding: 30px 0px;">
                  <div class="yet-vote-text">Yet to Vote:</div>
                  <div class="col-sm-2 vote-box" ng-repeat="v in focusedVotes.notAttempted">
                    <div class="profile-vote col-sm-5">
                      <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage-vote" />
                      <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{v.userPicture}}" class="profileImage-vote" /><br />
                      <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{v.userName}}</div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <!-- Structure false -->
            <div class="vote-area col-sm-12" ng-show="user.structure == false">
              <div class="col-sm-6 vote-box" ng-repeat="v in focusedVotes.votes">
                <div class="profile-vote col-sm-5">
                  <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage-vote" />
                  <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{v.userPicture}}" class="profileImage-vote" /><br />
                  <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{v.userName}}</div>
                </div>
                <div class="vote-text col-sm-6">
                  <span ng-show="v.vote == 'yes'"><i class="fa fa-thumbs-up fa-3x" aria-hidden="true" style="color:#117A65"></i></span>
                  <span ng-show="v.vote == 'no'"><i class="fa fa-thumbs-down fa-3x" aria-hidden="true" style="color:#B22222"></i></span>
                  <span ng-show="v.vote == 'not-attempted'">
                    <h4>Not Attempted</h4>
                  </span>
                </div>
                <div class="col-sm-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Button to take to post survey questionnaire -->
      <div class="col-sm-12" style="padding-top: 15px;">
        <div class="col-sm-8" style="padding-right: 39px;" ng-show="questions.length > 0">
          <button id="onto-bigfive" class="onto-bigfive" ng-click="toBigFive()" disabled></button>
        </div>
        <div class="col-sm-4">
          <div id="completed-vote-loader" class="completed-submit-loader"></div>
        </div>
      </div>
    </div>
    <!-- Debating area -->
    <div class="row col-sm-12 debating-area">
      <div class="row">
        <div class="back-button col-sm-1"><a href="./final.html"> <i class="fa fa-arrow-left fa-sm" aria-hidden="true"></i> Back Home</a></div>
        <div class="home-text col-sm-9">{{qFocused.questionText}}</div>
        <div class="profile col-sm-2">
          <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
          <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{user.profilePicture}}" class="profileImage" /><br />
          <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{user.name}}</div>
          <a href="" class="header-name col-sm-12" ng-click="logout()">Logout</a>
        </div>
        <div class="col-sm-12" style="text-align: center;padding: 20px;" ng-show="qFocused">
          <button id="vote-button-{{qFocused.questionId}}" class="vote-button" ng-click="modalToVote(qFocused)">Submit Final Vote</button>
          <button id="voted-button-{{qFocused.questionId}}" class="voted-button" disabled>Vote Submitted</button>
        </div>
      </div>

      <div class="comments-area" ng-show="user.structure == false">

        <div class="col-sm-12" style="font-size: 14px;padding-left: 0px;padding-top: 15px;" ng-show="qFocused">
          <div class="intro-smaller-heading" ng-show="user.socialPresence == false">
            <p>Your group's opinions on this topic are given below:</p>
          </div>
        </div>

        <div class="comment row col-sm-12" ng-repeat="comm in qFocused.comments">
          <div class="debate-profile col-sm-2">
            <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
            <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{comm.profilePicture}}" class="profileImage" /><br />
            <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{comm.username}}</div>
            <div class="header-name col-sm-12" style="padding-top:3px;">{{comm.timestamp| date : 'MMM d, yyyy HH:mm'}}</div>
          </div>

          <div class="col-sm-10">
            <label class="comm-label" ng-class="{'highlight-comm': comm.username == user.name}">{{comm.comment}}</label>
          </div>

          <div class="col-sm-12" style="padding-bottom: 10px;">
            <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_downvote" class="comm-downvote disable-vote"><i class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp;{{comm.downVotes.length}} &nbsp; &nbsp;</a>
            <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_upvote" class="comm-upvote disable-vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp;{{comm.upVotes.length}} &nbsp; &nbsp;</a>
          </div>

          <div class="col-sm-12 reply-class" ng-repeat="reply in comm.replies">
            <div class="debate-profile col-sm-2">
              <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
              <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{reply.profilePicture}}" class="profileImage" /><br />
              <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{reply.username}}</div>
              <div class="header-name col-sm-12" style="padding-top:3px;">{{reply.timestamp| date : 'MMM d, yyyy HH:mm'}}</div>
            </div>

            <div class="col-sm-10">
              <label class="comm-label" ng-class="{'highlight-comm': reply.username == user.name}">{{reply.comment}}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="comments-area" ng-show="user.structure == true">
        <div class="progress adjust-progress" ng-show="qFocused.comments">
          <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{qFocused.comments.progressY}}%">
          </div>
        </div>

        <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
          <div class="col-sm-6" style="padding-left:0px;">
            <div class="yes-span row" ng-show="qFocused.comments">{{qFocused.comments.progressY}}% say <i class="fa fa-thumbs-up" aria-hidden="true"></i> </div>
            <div class="col-sm-12 comment-small" ng-repeat="comm in qFocused.comments.yes">
              <div class="debate-profile col-sm-2">
                <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
                <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{comm.profilePicture}}" class="profileImage" /><br />
                <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{comm.username}}</div>
                <div class="header-name col-sm-12" style="padding-top:3px;">{{comm.timestamp| date : 'MMM d HH:mm'}}</div>
              </div>

              <div class="col-sm-10">
                <label class="comm-label" ng-class="{'highlight-comm': comm.username == user.name}">{{comm.comment}}</label>
              </div>

              <div class="col-sm-12" style="padding-bottom: 10px;">
                <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_downvote" class="comm-downvote disable-vote"><i class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp;{{comm.downVotes.length}} &nbsp; &nbsp;</a>
                <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_upvote" class="comm-upvote disable-vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp;{{comm.upVotes.length}} &nbsp; &nbsp;</a>
              </div>

              <div class="col-sm-12 reply-class-structured" ng-repeat="reply in comm.replies">
                <div class="debate-profile col-sm-2">
                  <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
                  <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{reply.profilePicture}}" class="profileImage" /><br />
                  <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{reply.username}}</div>
                  <div class="header-name col-sm-12" style="padding-top:3px;">{{reply.timestamp| date : 'MMM d HH:mm'}}</div>
                </div>

                <div class="col-sm-10">
                  <label class="comm-label" ng-class="{'highlight-comm': reply.username == user.name}">{{reply.comment}}</label>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6" style="padding-right: 0px;">
            <div class="no-span row" ng-show="qFocused.comments">{{qFocused.comments.progressN}}% say <i class="fa fa-thumbs-down" aria-hidden="true"></i></div>
            <div class="col-sm-12 comment-small" ng-repeat="comm in qFocused.comments.no">
              <div class="debate-profile col-sm-2">
                <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
                <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{comm.profilePicture}}" class="profileImage" /><br />
                <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{comm.username}}</div>
                <div class="header-name col-sm-12" style="padding-top:3px;">{{comm.timestamp| date : 'MMM d HH:mm'}}</div>
              </div>

              <div class="col-sm-10">
                <label class="comm-label" ng-class="{'highlight-comm': comm.username == user.name}">{{comm.comment}}</label>
              </div>

              <div class="col-sm-12" style="padding-bottom: 10px;">
                <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_downvote" class="comm-downvote disable-vote"><i class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp;{{comm.downVotes.length}} &nbsp; &nbsp;</a>
                <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_upvote" class="comm-upvote disable-vote"><i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp;{{comm.upVotes.length}} &nbsp; &nbsp;</a>
              </div>

              <div class="col-sm-12 reply-class-structured" ng-repeat="reply in comm.replies">
                <div class="debate-profile col-sm-2">
                  <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
                  <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{reply.profilePicture}}" class="profileImage" /><br />
                  <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{reply.username}}</div>
                  <div class="header-name col-sm-12" style="padding-top:3px;">{{reply.timestamp| date : 'MMM d HH:mm'}}</div>
                </div>

                <div class="col-sm-10">
                  <label class="comm-label" ng-class="{'highlight-comm': reply.username == user.name}">{{reply.comment}}</label>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal to collect final opinion in the debating area -->
      <div id="modal-vote" class="modal" style="text-align:center;">
        <div class="modal-content">
          <span class="close-vote">&times;</span>

          <!--Modal to submit the initial asnwer -->
          <div class="modal-first">
            <div class="col-sm-12 modal-question">
              Provide your final vote: {{modalData.questionText}}
            </div>
            <br />

            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 40%;padding: 20px;">
              <label id="opinion-yes-label" class="btn btn-secondary button-yes-default">
                <input type="radio" name="answer.newOpinion" ng-model="answer.newOpinion" value="yes" class="button-yes-default">
                <i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp; Yes
              </label>

              <label id="opinion-no-label" class="btn btn-secondary button-no-default">
                <input type="radio" name="answer.newOpinion" ng-model="answer.newOpinion" value="no" class="button-no-default">
                <i class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp; No
              </label>
            </div>

            <div class="modal-explain" style="display:none;">
              <div class="explain-text-home">Please explain your opinion here. Make sure your explanations are clear and complete.</div>
              <textarea ng-model="answer.newExplanation" class="modal-textarea"></textarea>
            </div>

            <div class="modal-confidence" style="display:none;">
              <div class="confidence-text-home">How confident are you of your argument on this topic?</div>
              <div class="slidecontainer" style="width:510px; padding:0px;">
                <input type="range" ng-model="answer.newConfidence" min="0" max="100" value="50" step="1" id="rangeInputOne" oninput="output.value = rangeInputOne.value" class="slider-one">
              </div>
              <div class="outputcontainer" style="width:100%;">
                <output id="output" for="rangeInputOne">Not Selected</output>
              </div>
            </div>

            <div class="modal-submit" style="padding: 15px;">
              <button id="final-submit" class="final-submit" ng-click="submitVote(answer)">Submit Final Vote</button>
              <div id="modal-loader" class="modal-loader"></div>
            </div>
          </div>

          <!-- Modal to show the votes -->
          <div class="modal-votes row">
            <div class="col-sm-12 modal-question">
              Final votes from your group members on: {{focusedVotes.questionText}}
            </div>
            <br />

            <!-- Structured votes -->
            <div class="vote-area col-sm-12" ng-show="user.structure == true">
              <div class="progress adjust-progress">
                <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{focusedVotes.progressY}}%">
                </div>
              </div>
              <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
                <!-- YesVotes -->
                <div class="col-sm-6" style="padding-left:0px;" ng-class="{'border-right': focusedVotes.noVotes.length <= focusedVotes.yesVotes.length}">
                  <div class="yes-span row">{{focusedVotes.progressY}}% say <i class="fa fa-thumbs-up" aria-hidden="true"></i> </div>
                  <div class="col-sm-12" style="padding:0px;">
                    <div class="col-sm-4 vote-box" ng-repeat="v in focusedVotes.yesVotes" ng-show="focusedVotes.yesVotes.length > 0">
                      <div class="profile-vote col-sm-12">
                        <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage-vote" />
                        <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{v.userPicture}}" class="profileImage-vote" /><br />
                        <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold; padding-left: 0px;padding-right: 0px;">{{v.userName}}</div>
                      </div>
                    </div>
                    <div class="col-sm-12 await-votes" ng-show="focusedVotes.yesVotes.length == 0">
                      No Votes
                    </div>
                  </div>
                </div>
                <!-- NoVotes -->
                <div class="col-sm-6" style="padding-right:0px;" ng-class="{'border-left': focusedVotes.noVotes.length > focusedVotes.yesVotes.length}">
                  <div class="no-span row">{{focusedVotes.progressN}}% say <i class="fa fa-thumbs-down" aria-hidden="true"></i> </div>
                  <div class="col-sm-12" style="padding:0px;">
                    <div class="col-sm-4 vote-box" ng-repeat="v in focusedVotes.noVotes" ng-show="focusedVotes.noVotes.length > 0">
                      <div class="profile-vote col-sm-12">
                        <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage-vote" />
                        <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{v.userPicture}}" class="profileImage-vote" /><br />
                        <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;padding-left: 0px;padding-right: 0px;">{{v.userName}}</div>
                      </div>
                    </div>
                    <div class="col-sm-12 await-votes" ng-show="focusedVotes.noVotes.length == 0">
                      No Votes
                    </div>
                  </div>
                </div>
                <!-- Not Attempted -->
                <!-- <div class="col-sm-12" ng-show="focusedVotes.notAttempted.length > 0" style="padding: 30px 0px;">
                    <div class="yet-vote-text">Yet to Vote:</div>
                    <div class="col-sm-2 vote-box" ng-repeat="v in focusedVotes.notAttempted">
                      <div class="profile-vote col-sm-5">
                        <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage-vote" />
                        <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{v.userPicture}}" class="profileImage-vote" /><br />
                        <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{v.userName}}</div>
                      </div>
                    </div>
                  </div> -->
              </div>
            </div>

            <!--Unstructured votes-->
            <div class="vote-area col-sm-12" ng-show="user.structure == false">
              <div class="col-sm-6 vote-box" ng-repeat="v in focusedVotes.votes">
                <div class="profile-vote col-sm-5">
                  <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage-vote" />
                  <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{v.userPicture}}" class="profileImage-vote" /><br />
                  <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{v.userName}}</div>
                </div>
                <div class="vote-text col-sm-6">
                  <span ng-show="v.vote == 'yes'"><i class="fa fa-thumbs-up fa-3x" aria-hidden="true" style="color:#117A65"></i></span>
                  <span ng-show="v.vote == 'no'"><i class="fa fa-thumbs-down fa-3x" aria-hidden="true" style="color:#B22222"></i></span>
                  <span ng-show="v.vote == 'not-attempted'">
                    <h4>Not Attempted</h4>
                  </span>
                </div>
                <div class="col-sm-1"></div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
</body>

</html>
