<!DOCTYPE html>
<html>

<head>
  <title>Home : Debating Circle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://kit.fontawesome.com/95d795fabf.js" crossorigin="anonymous"></script>

  <script type="text/javascript" src="./js/app.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">

</head>

<body>
  <div ng-app="app" ng-controller="HomeController">
    <div class="row col-sm-12 homecontainer">

      <div class="row">
        <div class="home-text col-sm-10"> Home </div>
        <div class="profile col-sm-2">
          <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
          <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{user.profilePicture}}" class="profileImage" /><br />
          <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{user.name}}</div>
          <a href="./index.html" class="header-name col-sm-12">Logout</a>
        </div>
      </div>


      <div class="intro-smaller-heading"> Instructions:</div>
      <div class="home-instructions">
        <ol>
          <li>You may start discussing these topics with your fellow group members in <b>ANY order you prefer.</b></li>
          <li>You will be first asked to provide your initial opinion on the topic <b>WITHOUT viewing others’ comments</b>. Click on the topic, to add your opinion. </li>
          <li>Upon submitting your initial opinion on the topic, you will see comments others have posted on the same topic. <b>You are free to post more comments, reply to others opinions as you will.</b> </li>
          <li>Make sure to visit the site <b>at least once a day</b> for the duration of the study, and answer <b>ALL</b> questions to be eligible for the reward.</li>
          <li>You must <b>answer ALL questions</b> within <b>6 days</b> to complete this experiement. The time left for the experiement is displayed at the bottom of this page.</li>
          <li>When the time allocated for the study runs out, please click on the button <b>"Take me to the Final Vote page.."</b> to provide your final votes on the topics debated.</li>
        </ol>
      </div>
      <br />

      <div class="row col-sm-12 question-area">
        <div class="intro-smaller-heading">Debating topics:</div>

        <div ng-repeat="q in questions" class="qcontainer col-sm-4">
          <a href="" class="col-sm-12 qBox" ng-click="(q.attempted == false) ? modalClick(q) : secondClick(q)">
            <div class="qText">{{q.text}}</div>
            <div class="row">
              <span ng-if="q.attempted" class="attempted-class"><i class="fa fa-check-circle" aria-hidden="true"></i> &nbsp; Commented</span>
              <span class="commCount-class"><i class="fas fa-comments fa-lg" aria-hidden="true"></i>&nbsp;{{q.commCount}}</span>
            </div>
          </a>

        </div>
      </div>

      <!-- Modal to collect private opinion -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="col-sm-12 modal-question">
            Provide your personal opinion: {{modalData.text}}
          </div>
          <br />

          <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 40%;padding: 20px;">
            <label id="opinion-yes-label" class="btn btn-secondary button-yes-default">
              <input type="radio" name="answer.opinion" ng-model="answer.opinion" value="yes" class="button-yes-default">
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp; Yes
            </label>

            <label id="opinion-no-label" class="btn btn-secondary button-no-default">
              <input type="radio" name="answer.opinion" ng-model="answer.opinion" value="no" class="button-no-default">
              <i class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp; No
            </label>
          </div>

          <div class="modal-explain" style="display:none;">
            <div class="explain-text-home">Please explain your opinion here. Make sure your explanations are clear and complete.</div>
            <textarea ng-model="answer.explanation" class="modal-textarea"></textarea>
          </div>

          <div class="modal-confidence" style="display:none;">
            <div class="confidence-text-home">How confident are you of your argument on this topic?</div>
            <div class="slidecontainer" style="width:510px; padding:0px;">
              <input type="range" ng-model="answer.confidence" min="0" max="100" value="50" step="1" id="rangeInputOne" oninput="output.value = rangeInputOne.value" class="slider-one">
            </div>
            <div class="outputcontainer" style="width:100%;">
              <output id="output" for="rangeInputOne">Not Selected</output>
            </div>
          </div>

          <div class="modal-submit" style="padding: 15px;">
            <button id="home-submit" class="home-submit" ng-click="submitAnswer(answer)">Submit Answer</button>
            <div id="modal-loader" class="modal-loader"></div>
          </div>

        </div>
      </div>

      <div class="col-sm-12" style="padding-top: 15px;">
        <div class="col-sm-8">
          <button id="completed-submit" class="completed-submit" ng-click="finalVote()" disabled></button>
        </div>
        <div class="col-sm-4">
          <div id="completed-submit-loader" class="completed-submit-loader"></div>
        </div>
      </div>

    </div>

    <!-- Debating area -->
    <div class="row col-sm-12 debating-area">
      <div class="row">
        <div class="back-button col-sm-1"><a href="./home.html"> <i class="fa fa-arrow-left fa-sm" aria-hidden="true"></i> Back Home</a></div>
        <div class="home-text col-sm-9">{{qFocused.questionText}}</div>

        <div class="profile col-sm-2">
          <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
          <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{user.profilePicture}}" class="profileImage" /><br />
          <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{user.name}}</div>
          <a href="./index.html" class="header-name col-sm-12">Logout</a>
        </div>
      </div>

      <div class="comments-area" ng-show="user.structure == false">
        <div class="comment row col-sm-12" ng-repeat="comm in qFocused.comments">
          <div class="debate-profile col-sm-2">
            <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
            <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{comm.profilePicture}}" class="profileImage" /><br />
            <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{comm.username}}</div>
            <div class="header-name col-sm-12" style="padding-top:3px;">{{comm.timestamp| date : 'MMM d, yyyy HH:mm'}}</div>
          </div>

          <div class="col-sm-10">
            <label class="comm-label" ng-class="{'highlight-comm': comm.username == user.name}">{{comm.comment}}</label>
          </div>

          <div class="col-sm-12" style="padding-bottom: 10px;">

            <a href="" id="{{comm.id}}_reply" class="comm-reply" ng-click="showReply(comm.id)"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Reply &nbsp;</a>
            <a href="" id="{{comm.id}}_submit" class="comm-submit" ng-click="sendReply(comm.id, comm.id, qFocused.questionText, qFocused.questionId)">Submit</a>

            <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_downvote" class="comm-downvote" ng-class="{'disable-vote': comm.userId == user.userId, 'have-voted': comm.downVotes.includes(user.userId)}" ng-click="updateVoteForComment(comm.id, qFocused.questionText, qFocused.questionId, false)"><i
                class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp;{{comm.downVotes.length}} &nbsp; &nbsp;</a>
            <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_upvote" class="comm-upvote" ng-class="{'disable-vote': comm.userId == user.userId, 'have-voted': comm.upVotes.includes(user.userId)}" ng-click="updateVoteForComment(comm.id, qFocused.questionText, qFocused.questionId, true)"><i
                class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp;{{comm.upVotes.length}} &nbsp; &nbsp;</a>

            <textarea id="{{comm.id}}" class="reply-textarea"></textarea>
          </div>

          <div class="col-sm-12 reply-class" ng-repeat="reply in comm.replies">
            <div class="debate-profile col-sm-2">
              <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
              <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{reply.profilePicture}}" class="profileImage" /><br />
              <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{reply.username}}</div>
              <div class="header-name col-sm-12" style="padding-top:3px;">{{reply.timestamp| date : 'MMM d, yyyy HH:mm'}}</div>
            </div>

            <div class="col-sm-10">
              <label class="comm-label" ng-class="{'highlight-comm': reply.username == user.name}">{{reply.comment}}</label>
            </div>

            <div class="col-sm-12" style="padding-right: 0px;">
              <a href="" class="comm-reply" id="{{reply.id}}_reply" ng-click="showReply(reply.id)"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Reply</a>
              <a href="" class="comm-submit" id="{{reply.id}}_submit" ng-click="sendReply(comm.id, reply.id, qFocused.questionText, qFocused.questionId)">Submit</a>
              <textarea id="{{reply.id}}" class="reply-textarea"></textarea>
            </div>
          </div>
        </div>

        <div class="row col-sm-12 new-comment" ng-show="qFocused.comments">
          <textarea ng-model="newComment" class="new-textarea" placeholder="Enter a new comment here.."></textarea>
          <a href="" class="new-submit" id="new-submit" ng-click="submitNewComment(qFocused.questionText, qFocused.questionId)">Submit New Comment </a>
        </div>
      </div>

      <!-- Structured comments area -->
      <div class="comments-area" ng-show="user.structure == true">
        <div class="progress adjust-progress" ng-show="qFocused.comments">
          <div class="progress-bar bg-success progress-bar-striped" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:{{qFocused.comments.progressY}}%">
          </div>
        </div>

        <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
          <div class="col-sm-6" style="padding-left:0px;">
            <div class="yes-span row">{{qFocused.comments.progressY}}% say <i class="fa fa-thumbs-up" aria-hidden="true"></i> </div>
            <div class="col-sm-12 comment-small" ng-repeat="comm in qFocused.comments.yes">
              <div class="debate-profile col-sm-2">
                <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
                <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{comm.profilePicture}}" class="profileImage" /><br />
                <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{comm.username}}</div>
                <div class="header-name col-sm-12" style="padding-top:3px;">{{comm.timestamp| date : 'MMM d HH:mm'}}</div>
              </div>

              <div class="col-sm-10">
                <label class="comm-label" ng-class="{'highlight-comm': comm.username == user.name}">{{comm.comment}}</label>
              </div>

              <div class="col-sm-12" style="padding-bottom: 10px;">

                <a href="" id="{{comm.id}}_reply" class="comm-reply" ng-click="showReply(comm.id)"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Reply &nbsp;</a>
                <a href="" id="{{comm.id}}_submit" class="comm-submit" ng-click="sendStructuredReply(comm.id, comm.id, qFocused.questionText, qFocused.questionId, true)">Submit</a>

                <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_downvote" class="comm-downvote" ng-class="{'disable-vote': comm.userId == user.userId, 'have-voted': comm.downVotes.includes(user.userId)}" ng-click="updateVoteForComment(comm.id, qFocused.questionText, qFocused.questionId, false)"><i
                    class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp;{{comm.downVotes.length}} &nbsp; &nbsp;</a>
                <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_upvote" class="comm-upvote" ng-class="{'disable-vote': comm.userId == user.userId, 'have-voted': comm.upVotes.includes(user.userId)}" ng-click="updateVoteForComment(comm.id, qFocused.questionText, qFocused.questionId, true)"><i
                    class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp;{{comm.upVotes.length}} &nbsp; &nbsp;</a>

                <textarea id="{{comm.id}}" class="reply-textarea"></textarea>
              </div>

              <div class="col-sm-12 reply-class-structured" ng-repeat="reply in comm.replies">
                <div class="debate-profile col-sm-2">
                  <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
                  <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{reply.profilePicture}}" class="profileImage" /><br />
                  <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{reply.username}}</div>
                  <div class="header-name col-sm-12" style="padding-top:3px;">{{reply.timestamp| date : 'MMM d HH:mm'}}</div>
                </div>

                <div class="col-sm-10">
                  <label class="comm-label" ng-class="{'highlight-comm': reply.username == user.name}">{{reply.comment}}</label>
                </div>

                <div class="col-sm-12" style="padding-right: 0px;">
                  <a href="" class="comm-reply" id="{{reply.id}}_reply" ng-click="showReply(reply.id)"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Reply</a>
                  <a href="" class="comm-submit" id="{{reply.id}}_submit" ng-click="sendStructuredReply(comm.id, reply.id, qFocused.questionText, qFocused.questionId, true)">Submit</a>
                  <textarea id="{{reply.id}}" class="reply-textarea"></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12 new-comment" ng-show="qFocused.comments.yes.length > 0">
              <textarea ng-model="newCommentYes" class="new-textarea-yes" placeholder="Enter a new comment to support this opinion here.."></textarea>
              <a href="" class="new-submit" id="new-submit-yes" ng-click="submitNewStructuredComment(qFocused.questionText, qFocused.questionId, true)">Submit New Comment </a>
            </div>

            <div class="col-sm-12 await-comment" ng-show="qFocused.comments.yes.length == 0">
              Awaiting comments...
            </div>
          </div>
          <div class="col-sm-6" style="padding-right: 0px;">
            <div class="no-span row">{{qFocused.comments.progressN}}% say <i class="fa fa-thumbs-down" aria-hidden="true"></i></div>
            <div class="col-sm-12 comment-small" ng-repeat="comm in qFocused.comments.no">
              <div class="debate-profile col-sm-2">
                <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
                <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{comm.profilePicture}}" class="profileImage" /><br />
                <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{comm.username}}</div>
                <div class="header-name col-sm-12" style="padding-top:3px;">{{comm.timestamp| date : 'MMM d HH:mm'}}</div>
              </div>

              <div class="col-sm-10">
                <label class="comm-label" ng-class="{'highlight-comm': comm.username == user.name}">{{comm.comment}}</label>
              </div>

              <div class="col-sm-12" style="padding-bottom: 10px;">

                <a href="" id="{{comm.id}}_reply" class="comm-reply" ng-click="showReply(comm.id)"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Reply &nbsp;</a>
                <a href="" id="{{comm.id}}_submit" class="comm-submit" ng-click="sendStructuredReply(comm.id, comm.id, qFocused.questionText, qFocused.questionId, false)">Submit</a>

                <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_downvote" class="comm-downvote" ng-class="{'disable-vote': comm.userId == user.userId, 'have-voted': comm.downVotes.includes(user.userId)}" ng-click="updateVoteForComment(comm.id, qFocused.questionText, qFocused.questionId, false)"><i
                    class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp;{{comm.downVotes.length}} &nbsp; &nbsp;</a>
                <a ng-show="user.socialPresence == true" href="" id="{{comm.id}}_upvote" class="comm-upvote" ng-class="{'disable-vote': comm.userId == user.userId, 'have-voted': comm.upVotes.includes(user.userId)}" ng-click="updateVoteForComment(comm.id, qFocused.questionText, qFocused.questionId, true)"><i
                    class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp;{{comm.upVotes.length}} &nbsp; &nbsp;</a>

                <textarea id="{{comm.id}}" class="reply-textarea"></textarea>
              </div>

              <div class="col-sm-12 reply-class-structured" ng-repeat="reply in comm.replies">
                <div class="debate-profile col-sm-2">
                  <img ng-show="user.socialPresence == false" src="./assets/neutral.png" class="profileImage" />
                  <img ng-show="user.socialPresence == true" src="data:image/png;base64,{{reply.profilePicture}}" class="profileImage" /><br />
                  <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{reply.username}}</div>
                  <div class="header-name col-sm-12" style="padding-top:3px;">{{reply.timestamp| date : 'MMM d HH:mm'}}</div>
                </div>

                <div class="col-sm-10">
                  <label class="comm-label" ng-class="{'highlight-comm': reply.username == user.name}">{{reply.comment}}</label>
                </div>

                <div class="col-sm-12" style="padding-right: 0px;">
                  <a href="" class="comm-reply" id="{{reply.id}}_reply" ng-click="showReply(reply.id)"><i class="fa fa-reply" aria-hidden="true"></i> &nbsp;Reply</a>
                  <a href="" class="comm-submit" id="{{reply.id}}_submit" ng-click="sendStructuredReply(comm.id, reply.id, qFocused.questionText, qFocused.questionId, false)">Submit</a>
                  <textarea id="{{reply.id}}" class="reply-textarea"></textarea>
                </div>
              </div>
            </div>
            <div class="col-sm-12 new-comment" ng-show="qFocused.comments.no.length > 0">
              <textarea ng-model="newCommentNo" class="new-textarea-no" placeholder="Enter a new comment against this opinion here.."></textarea>
              <a href="" class="new-submit" id="new-submit-no" ng-click="submitNewStructuredComment(qFocused.questionText, qFocused.questionId, false)">Submit New Comment </a>
            </div>

            <div class="col-sm-12 await-comment" ng-show="qFocused.comments.no.length == 0">
              Awaiting comments...
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</body>

</html>
