<!DOCTYPE html>
<html>

<head>
  <title>Home : Debating Circle</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://kit.fontawesome.com/95d795fabf.js" crossorigin="anonymous"></script>

  <script type="text/javascript" src="./js/app.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">

</head>

<body>
  <div ng-app="app" ng-controller="HomeController">
    <div class="row col-sm-12 homecontainer">

      <div class="row">
        <div class="home-text col-sm-10"> Home </div>
        <div class="profile col-sm-2">
          <img src="data:image/png;base64,{{user.profilePicture}}" class="profileImage" /><br />
          <div class="header-name col-sm-12" style="padding-top:5px; font-weight:bold;">{{user.name}}</div>
          <a href="./index.html" class="header-name col-sm-12">Logout</a>
        </div>
      </div>


      <div class="intro-smaller-heading"> Instructions:</div>
      <div class="home-instructions">
        <ol>
          <li>You may start discussing these topics with your fellow group members in <b>ANY order you prefer.</b></li>
          <li>You will be first asked to provide your initial opinion on the topic <b>WITHOUT viewing others’ comments</b>. Click on the topic, to add your opinion. </li>
          <li>Upon submitting your initial opinion on the topic, you will see comments others have posted on the same topic. <b>You are free to post more comments, reply to others opinions as you will.</b> </li>
          <li>Make sure to visitthe site <b>at least once a day</b> for the duration of the study, and answer <b>ALL</b> questions to be eligible for the reward.</li>
        </ol>
      </div>
      <br />

      <div class="row col-sm-12 question-area">
        <div class="intro-smaller-heading">Debating topics:</div>

        <div ng-repeat="q in questions" class="qcontainer col-sm-4">
          <a href="" class="col-sm-12 qBox" ng-click="modalClick(q)">
            <div class="qText">{{q.text}}</div>
            <div style="float:right;">
              <span><i class="fas fa-comments fa-lg" aria-hidden="true"></i></span> &nbsp<span>{{q.commCount}}</span>
            </div>

          </a>

        </div>
      </div>

      <!-- Modal to collect private opinion -->
      <div id="modal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="col-sm-12 modal-question">
            Provide your personal opinion: {{modalData.text}}
          </div>
          <br/>

        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="width: 40%;padding: 20px;">
          <label id="opinion-yes-label" class="btn btn-secondary button-yes-default">
            <input type="radio" name="answer.opinion" ng-model="answer.opinion" value="yes" class="button-yes-default">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i> &nbsp; Yes
          </label>

          <label id="opinion-no-label" class="btn btn-secondary button-no-default">
            <input type="radio" name="answer.opinion" ng-model="answer.opinion" value="no" class="button-no-default">
            <i class="fa fa-thumbs-down" aria-hidden="true"></i> &nbsp; No
          </label>
        </div>

          <div class="modal-explain" style="display:none;">
            <div class="explain-text-home">Please explain your opinion here. Make sure your explanations are clear and complete.</div>
            <textarea ng-model="answer.explanation" class="modal-textarea"></textarea>
          </div>

          <div class="modal-confidence" style="display:none;">
            <div class="confidence-text-home">How confident are you of your argument on this topic?</div>
            <div class="slidecontainer" style="width:510px; padding:0px;">
              <input type="range" ng-model="answer.confidence" min="0" max="100" value="50" step="1" id="rangeInputOne" oninput="output.value = rangeInputOne.value" class="slider-one">
            </div>
            <div class="outputcontainer" style="width:100%;">
              <output id="output" for="rangeInputOne">Not Selected</output>
            </div>
          </div>

          <div class="modal-submit" style="padding: 15px;">
            <button id="home-submit" class="home-submit" ng-click="submitAnswer(answer)">Submit Answer</button>
            <div id="modal-loader" class="modal-loader"></div>
          </div>

        </div>
      </div>

    </div>
</body>

</html>
